body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

#container {
  display: flex;
  width: 100%;
}

#cartProduct {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-item {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  margin-right: 15px;
}

img {
  width: 100px;
  border-radius: 4px;
}

.product-details {
  text-align: left;
  flex-grow: 1;
}

.product-title {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.price {
  color: #b12704;
  font-size: 14px;
  margin: 5px 0;
}

.delete-button {
  height: 30px;
  width: 100px;
  background-color: #e94e77;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d43f6b;
}

#totalPrice {
  width: 30%;
  padding-top: 40px;

  color: black;
  padding: 20px;
  border-radius: 8px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#totalPrice h2 {
  margin: 0;
  font-size: 24px;
}

#totalPrice p {
  margin: 10px 0;
  font-size: 18px;
}

#buyBtn{
  height: 30px;
  width: 150px;
  background-color: #ece8e9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;}

  #buyBtn:hover {
    background-color: #d4823f;
  }
  

  .cart-button {
    background-color: white;
    color: var(--text-color);
    margin-top: 10px;
    margin-left: 20px;
    width: 30%;
    /* border: 2px solid var(--border-color); */
    border: none;
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
    color: white;
  }